*           {
                background-color:rgb(28, 189, 114);

            }


.header     {
                color: rgb(9, 3, 87);
                text-align: center;
                font-size: 30px;
                text-decoration: underline rgb(9, 3, 87);
        
            }

img         {
                height: auto;
                width: 800px;
                text-align: center;

            }

            