*           {
                background-color:rgb(37, 214, 205);

            }


.header     {
                color: rgb(0, 0, 0);
                text-align: center;
                font-size: 65px;
                text-decoration: underline rgb(10, 10, 10);
        
            }

.img         {
                
                text-align: center;

            }

.li a:link  {
                text-decoration: none;
                text-align: center;
                font-size: 50px;
                color: black;
            }

.li         {
                text-align: center;
                color:black;
            }

.li a:visited   {
                    color: black;



                }
.subheader      {
                    font-size: 50px;
                    text-decoration: underline;                 

                }
      